html {
    width: 1200px;
    height: 2133px;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    width: 1200px;
    height: 2133px;
}

.page {
    display: none;
    background-image: url(MenuKiosko.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1200px;
    height: 2133px;
}
.visible {
    display: block !important;
}
.kioskImg {
    display: none;
    width: 1200px;
    height: 2133px;
}
.kioskImg img {
    width: 1200px;
    height: 2133px;
}

.pageContent {
    font-size: 3em;
    position: absolute;
    top: 15%;
    left: 10%;
    right: 10%;
    bottom: 15%;
    font-weight: bold;
    font-family: sans-serif;
}